* {
    margin: 0;
    padding: 0;
}

p{
    font-family: Arial, sans-serif;
}

body {
    padding: 2.5vh;
    background-image: url('purplebackground.png');
    background-size: 100%;
}


#main {
    margin: 0px auto;
    height: 95%;
    width: 90%;
    display: flex;

    box-shadow: 5px 10px 12px;
    
}

#leftBox{
    height: 100%;
    width: 40%;
    position: relative;
    background-image: url('purplebox.png');
    background-size: 105%;
    background-repeat: no-repeat;
}

#leftText{
    position: absolute;
    bottom: -15;
    margin-left: 2.5vh;
}

#name {
    font-family: 'Oswald', sans-serif;
    font-size: 8vh;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2vh;
}

#introText{
    font-size: 4vh;
    margin-bottom: -2.5vh;
    margin-left: 4vh;
    font-family: 'Oswald', sans-serif
}

#rightBox{
    height: 100%;
    width: 60%;
    background-color: white;
}

